{% extends "base.html" %}

{% block content %}
<div class="markdown-content">
    {{ content | safe }}
</div>

<div class="chapter-navigation">
    <div class="nav-buttons">
        {% if prev_chapter %}
            <a href="/{{ prev_chapter }}" class="nav-button prev">
                <i class="fas fa-arrow-left"></i> Vorige
            </a>
        {% endif %}
        {% if next_chapter %}
            <a href="/{{ next_chapter }}" class="nav-button next">
                Volgende <i class="fas fa-arrow-right"></i>
            </a>
        {% endif %}
    </div>
</div>
{% endblock %} 